
<div class="card border-0">
    <div class="card-header d-flex">
        <p class="mb-0 text-dark lead">Select Destination</p>
        <button class="btn close__btn ml-auto" mat-dialog-close>&times;</button>
    </div>
    <div class="card-body">  
        <mat-checkbox class="lead">Delete local backup after successful delivery?</mat-checkbox>
       
        <div class="text-center justify-content-center d-flex">
            <div class="py-3 px-4">
                <img src="assets/icons/folder.png" alt="">
                <p class="text-muted">A shared folder on <br> intranet</p>
            </div>
            <div class="py-3 px-4">
                <img src="assets/icons/folder.png" alt="">
                <p class="text-muted">FTP</p>
            </div>
        </div>
    </div>

    <div class="card-footer text-right py-3"> 
        <button class="btn primary-solid-btn mx-0">Select Destination</button> 
        <button class="btn primary-outline-btn" mat-dialog-close>Cancel</button>
    </div>
</div>





<!-- 
<div class="card border-0">
    <div class="card-header d-flex">
        <h4 class="mb-0 text-primary">Delete Category</h4>
        <button class="btn close__btn ml-auto" mat-dialog-close><i class="las la-times"></i></button>
    </div>
    <div class="card-body">  
        <p class="text-muted">
            You can not delete a category which have sub-categories.
            Please delete sub-categories first.
        </p> 
    </div>

    <div class="card-footer text-right py-3"> 
        <button class="btn primary-solid-btn mx-0">View SubCategories</button>
        <button class="btn primary-solid-btn delete__btn">Confirm Deletion</button>
        <button class="btn primary-outline-btn" mat-dialog-close>Cancel</button>
    </div>
</div> -->