<h1 mat-dialog-title style="box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);font-size: x-large;">
    User Capabilities of <span style="color:#09B3A9;">{{user}}</span>
    <button style="float: right;border: none;background-color: transparent;" (click)="close()">X</button>
</h1>
<div mat-dialog-content>
    <div class="flex-p col" fxLayout="column" style="width: 25vw;color: gray;">
        <p style="text-align: center;color:#09B3A9;font-size: large;">Capabilities of <span>{{role.roleName}}</span>:</p>
        <div class="addScroll">
            <ul class="list-group list-group-flush my-2">
                <li class="list-group-item" *ngFor="let permission of permissions; let i = index">
                    <div class="d-flex">
                        <div>{{permission.permissionName}}</div>
                        <!-- <mat-icon class="ml-auto" style="color: black; font-size: 20px;" (click)="removeUser(i)">person_remove</mat-icon> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <a class="btn btn-outline-danger" (click)="close()">Cancel</a>
</div>