<h2 class="page__header">
    CORE | <span>Well Management</span>
</h2>
<div class="data__table pt-5 pl-5">
    <table class="table responsive-table border-0">
        <tbody>
            <!--  -->
            <tr>
                <td>
                    <div class="name">HSE Emergency Documents</div>
                </td> 
                <td>
                    <button class="btn action__btn" routerLink="/core/well-management/edit-details"><img src="assets/icons/edit.png" alt="pencil-icon"></button>
                    <button class="btn action__btn" (click)="deletewellManagement()"><img src="assets/icons/trash.png" alt="pencil-icon"></button> 
                </td>
            </tr>
          

        </tbody>
    </table>
    <div class="text-right pt-5" style="padding-right: 10%;">
        <button class="btn btn-primary">Update Sorting</button>
        <button class="btn btn-primary ml-4" routerLink="/core/well-management/add-details">Add New</button>
    </div>
</div> 