<div class="auth-container shadow">
	<app-auth-logo></app-auth-logo>
	<div class="signup-form">
		<h1>Create CORE Account</h1>
		<div class="bg-white px-4 p-5 mb-4 rounded">
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="username" [(ngModel)]="userObject.userName">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" name="userEmail" [(ngModel)]="userObject.userEmail">
			</div>
			<div class="row mx-0">
				<div class="col pl-0 pr-1">
					<div class="form-group mb-0">
						<label>First Name</label>
						<input type="text" class="form-control" name="firstName" [(ngModel)]="userObject.firstName">
					</div>
				</div>
				<div class="col pr-0 pl-1">
					<div class="form-group mb-0">
						<label>Last Name</label>
						<input type="text" class="form-control" name="lastName" [(ngModel)]="userObject.lastName">
					</div>
				</div>
			</div>
			<div class="form-group mt-4">
				<label>Department</label>
				<select name="departmentId" [(ngModel)]="userObject.DepartmentId" class='form-control'>
					<option *ngFor="let department of departments" [value]="department.departmentId">
						{{department.departmentName}}</option>
				</select>
			</div>
			<div class="row mx-0">
				<div class="col pl-0 pr-1">
					<div class="form-group mb-0">
						<label>Password</label>
						<input type="password" class="form-control" name="password" [(ngModel)]="password">
					</div>
				</div>
				<div class="col pr-0 pl-1">
					<div class="form-group mb-0">
						<label>Confirm Password</label>
						<input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword">
					</div>
				</div>
			</div>
		</div>
		<div class="form-group border-0">
			<button class="btn btn-primary btn-block" (click)="signUp()">Sign Up</button>
		</div>
		<div class="input-group d-block border-0 text-white small font-weight-light text-center">
			Already have an account?&nbsp;<a class="btn btn-link btn-sm p-0" routerLink="/login">Sign In</a>
		</div>
	</div>
</div>