

<div class="">
    <h2 class="header">
        CORE | <span>Health check-up</span>
    </h2>
</div>

<nav class="">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-brokenLink-tab" data-toggle="tab" href="#nav-brokenLink" role="tab" aria-controls="nav-brokenLink" aria-selected="true">Broken Links</a>
      <a class="nav-link" id="nav-speacialChar-tab" data-toggle="tab" href="#nav-speacialChar" role="tab" aria-controls="nav-speacialChar" aria-selected="false">Special Characters</a>
      <a class="nav-link" id="nav-docWithoutCon-tab" data-toggle="tab" href="#nav-docWithoutCon" role="tab" aria-controls="nav-docWithoutCon" aria-selected="false">Document without Content</a>
      <a class="nav-link" id="nav-duplicateDoc-tab" data-toggle="tab" href="#nav-duplicateDoc" role="tab" aria-controls="nav-duplicateDoc" aria-selected="false">Duplicate Documents</a>
      <a class="nav-link" id="nav-longPath-tab" data-toggle="tab" href="#nav-longPath" role="tab" aria-controls="nav-longPath" aria-selected="false">Too Long Paths</a>
    </div>
</nav>

  <div class="tab-content" id="nav-tabContent">

    <!-- category section start here -->
    <div class="tab-pane fade show active" id="nav-brokenLink" role="tabpanel" aria-labelledby="nav-brokenLink-tab">
        <div class="option__box ml-auto pb-4">
            <span>Show</span>
            <select name="" id="">
                <option value="1">5</option>
                <option value="1">10</option>
                <option value="1">15</option>
            </select>
            <span>entries</span>
        </div>

        <table class="table responsive-table">
            <thead>
                <th>Document Title <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Department <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Path <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Status <i class="fa fa-sort" aria-hidden="true"></i></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>
                        File Not Found
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>
                        File Not Found
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>
                        File Not Found
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example" class="">
            <ul class="pagination up__pagination justify-content-end pt-5">
              <li class="page-item">
                <a class="page-link border-0" href="#" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div><!--.//category-->


    <!-- speacial characters section start here -->
    <div class="tab-pane fade" id="nav-speacialChar" role="tabpanel" aria-labelledby="nav-speacialChar-tab">
        <div class="text-right option__box pb-4">
            <span>Show</span>
            <select name="" id="">
                <option value="1">5</option>
                <option value="1">10</option>
                <option value="1">15</option>
            </select>
            <span>entries</span>
        </div>
        <table class="table responsive-table">
            <thead>
                <th>Document Title <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Department <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Path <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Special Characters <i class="fa fa-sort" aria-hidden="true"></i></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>
                       #
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>
                       #
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>
                       #
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example" class="">
            <ul class="pagination up__pagination justify-content-end pt-5">
              <li class="page-item">
                <a class="page-link border-0" href="#" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div><!--.//stakeHolder-->


    <!-- speacial characters section start here -->
    <div class="tab-pane fade" id="nav-docWithoutCon" role="tabpanel" aria-labelledby="nav-docWithoutCon-tab">
        <div class="text-right option__box pb-4">
            <span>Show</span>
            <select name="" id="">
                <option value="1">5</option>
                <option value="1">10</option>
                <option value="1">15</option>
            </select>
            <span>entries</span>
        </div>
        <table class="table responsive-table">
            <thead>
                <th>Document Title <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Department <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Path <i class="fa fa-sort" aria-hidden="true"></i></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example" class="">
            <ul class="pagination up__pagination justify-content-end pt-5">
              <li class="page-item">
                <a class="page-link border-0" href="#" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div><!--.//stakeHolder-->

    <!-- Duplicate Documents section start here -->
    <div class="tab-pane fade" id="nav-duplicateDoc" role="tabpanel" aria-labelledby="nav-duplicateDoc-tab">
        <!-- doc items -->
        <div class="doc__items">
            <p class="heading text-muted">
                File size: 0 bytes <br>
                File Modified: 1970-01-01 00:00:00
            </p>
            <div class="details">
                <a href="#">Back to Back Unsatisfied Framework Agreement (Delete)</a>
                <div class="text-danger font-italic">
                    //Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequatur quae expedita ratione deserunt impedit numquam accusamus, commodi incidunt velit possimus modi doloribus aliquid delectus eum?
                    <button class="btn primary-outline-btn copy__btn">Copy</button>
                </div>
            </div>
            <div class="details pt-4">
                <a href="#">Back to Back Unsatisfied Framework Agreement (Delete)</a>
                <div class="text-danger font-italic">
                    //Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequatur quae expedita ratione deserunt impedit numquam accusamus, commodi incidunt velit possimus modi doloribus aliquid delectus eum?
                    <button class="btn primary-outline-btn copy__btn">Copy</button>
                </div>
            </div>
        </div>
        <!-- doc items -->
        <div class="doc__items">
            <p class="heading text-muted">
                File size: 0 bytes <br>
                File Modified: 1970-01-01 00:00:00
            </p>
            <div class="details">
                <a href="#">Back to Back Unsatisfied Framework Agreement (Delete)</a>
                <div class="text-danger font-italic">
                    //Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequatur quae expedita ratione deserunt impedit numquam accusamus, commodi incidunt velit possimus modi doloribus aliquid delectus eum?
                    <button class="btn primary-outline-btn copy__btn">Copy</button>
                </div>
            </div>
            <div class="details pt-4">
                <a href="#">Back to Back Unsatisfied Framework Agreement (Delete)</a>
                <div class="text-danger font-italic">
                    //Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequatur quae expedita ratione deserunt impedit numquam accusamus, commodi incidunt velit possimus modi doloribus aliquid delectus eum?
                    <button class="btn primary-outline-btn copy__btn">Copy</button>
                </div>
            </div>
        </div>
    </div><!--.//duplicateDocs-->


    <!-- long path section start here -->
    <div class="tab-pane fade" id="nav-longPath" role="tabpanel" aria-labelledby="nav-longPath-tab">
        <div class="text-right option__box d-flex pb-4">
            <span>Show</span>
            <select name="" id="">
                <option value="1">5</option>
                <option value="1">10</option>
                <option value="1">15</option>
            </select>
            <span>entries</span>
        </div>
        <table class="table responsive-table">
            <thead>
                <th>Document Title <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Department <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Path <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Path Length <i class="fa fa-sort" aria-hidden="true"></i></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>333</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>222</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia!</a>
                    </td>
                    <td>
                        Business Planning
                    </td>
                    <td>
                        //10.72.4.56/PCBL Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem provident illo? - Final.pdf
                        <button class="btn primary-outline-btn copy__btn rounded-0">Copy</button>
                    </td>
                    <td>444</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example" class="">
            <ul class="pagination up__pagination justify-content-end pt-5">
              <li class="page-item">
                <a class="page-link border-0" href="#" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div><!--.//stakeHolder-->

  </div><!--.//tab-content-->
